<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>極楽パンダ -ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="form-container">
    <form action="/login" method="post">
      <h1>GoKULACPandA＋</h1>
      <p><input type="text" name="username" placeholder="ESC-IDを入力"></p>
      <p><input type="password" name="password" placeholder="パスワードを入力"></p>
      <p><button type="submit">ログイン</button></p>
    </form>
  </div>
</body>
</html>
